// Scss Starts from here
@mixin baseFlex($gap, $ml) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  margin-left: $ml;
}

@mixin baseGrid($gtc, $gap, $ml) {
  display: grid;
  grid-template-columns: $gtc;
  gap: $gap;
  margin-left: $ml;
}

@mixin baseWidth($width, $height) {
  width: $width;
  height: $height;
}

#content_section {
  margin-top: 16vh;
}

.content_container {
  width: 90%;
  @include baseGrid(50% 50%, 5.7rem, "");
}

.content__orion__image img {
  width: 450px;
  height: 530px;
  margin-left: 4rem;
}

.content_section_left {
  @include baseFlex(2.5rem, "");
}

/*Media queries for desktop DEVICES ----->>> */
@media screen and (max-width: 1200px) {
  .content_container {
    @include baseGrid(50% 50%, 8.7rem, "");
  }
}

@media screen and (max-width: 990px) {
  .content_container {
    @include baseGrid(100%, 8.7rem, "");
  }

  .content_section_left {
    margin-top: -5rem;
    text-align: center;
  }
  p {
    margin: 1rem 0 1.5rem;
  }

  .content__orion__image img {
    margin-left: 2rem;
  }
}

/*Media queries for SMALL DEVICES ----->>> */
@media screen and (max-width: 600px) {
  .content_section_left p {
    margin-top: -1.5rem;
  }

  .content__orion__image img {
    width: 100%;
    margin-left: 1rem;
  }
}

// Responsive area ends here
// All Css ends here
