// Scss started from here
@mixin baseFlex($gap, $ml) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  margin-left: $ml;
}

@mixin baseGrid($gtc, $gap, $ml) {
  display: grid;
  grid-template-columns: $gtc;
  gap: $gap;
  margin-left: $ml;
}

// All Css starts from here
#content {
  margin-top: 16vh;
}

.content__container {
  @include baseGrid(50% 50%, "", "");
}

.content__orion__image img {
  width: 450px;
  height: 530px;
  margin-left: 4rem;
}

.content__item {
  @include baseFlex(2.5rem, "");
  padding: 0 2rem;
}

// Responsive area starts from here

/*Media queries for large DEVICES ----->>> */
@media screen and (max-width: 1350px) {
  .content__container {
    @include baseGrid(50% 50%, 2rem, "");
  }

  .content__item {
    @include baseFlex(2.5rem, "");
  }

  .content__orion__image img {
    margin-left: 1rem;
  }
}

/*Media queries for desktop DEVICES ----->>> */
@media screen and (max-width: 1290px) {
  .content__item {
    @include baseFlex(1.5rem, "");
  }

  .content__container {
    @include baseGrid(55% "", 3rem, "");
  }
}

@media screen and (max-width: 1215px) {
  .content__item {
    @include baseFlex(0.1rem, "");
  }

  .content__container {
    @include baseGrid(60% "", 2rem, "");
  }
}

@media screen and (max-width: 1024px) {
  .content__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .content__item {
    margin-top: 3rem;
  }
  p {
    margin: 1rem 0 1.5rem;
  }
  .content__orion {
    margin-bottom: 3rem;
  }
}

/*Media queries for SMALL DEVICES ----->>> */
@media screen and (max-width: 600px) {
  .about__orion {
    width: 65%;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
  #content {
    margin-top: 3rem;
  }

  .content__orion {
    margin-bottom: 3rem;
  }
}

// Responsive area ends here
// All Css ends here
