* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none !important;
  box-sizing: border-box;
  transition: var(--transition);
  color: var(--color-primary);
}

:root {
  --color-bg: #c20505;
  --color-primary: #ffff;
  --color-primary-variant: #000000;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --conatiner-width-sm: 90%;
  --transition: all 0.4s ease-in-out;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 15px;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-primary-variant);
}

*::selection {
  background: var(--color-primary-variant);
  color: var(--color-primary);
}
